policy_module(libalternatives, 0.0.1)

# All processes should be able to execute libalternatives /bin/alts in the caller domain
type alts_exec_t;
domain_can_exec(alts_exec_t)
