
## <summary>policy for rebootmgr</summary>

########################################
## <summary>
##	Execute rebootmgr_exec_t in the rebootmgr domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rebootmgr_domtrans',`
	gen_require(`
		type rebootmgr_t, rebootmgr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rebootmgr_exec_t, rebootmgr_t)
')

######################################
## <summary>
##	Execute rebootmgr in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebootmgr_exec',`
	gen_require(`
		type rebootmgr_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, rebootmgr_exec_t)
')

########################################
## <summary>
##      Use rebootmgr varlink socket to talk to the daemon.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rebootmgr_varlink_chat',`
        gen_require(`
                type rebootmgr_var_run_t;
                type rebootmgr_t;
        ')

	allow $1 rebootmgr_var_run_t:sock_file write;
	allow $1 rebootmgr_t:unix_stream_socket connectto;
')
