policy_module(salt, 1.0.0)
########################################
#
# Declarations
#

attribute_role salt_roles;
roleattribute system_r salt_roles;

type salt_t;
type salt_exec_t;
init_daemon_domain(salt_t, salt_exec_t)
role salt_roles types salt_t;

########################################
#
# Local policy for salt
#

unconfined_domain(salt_t)

# Allow the Salt to execute scripts
rpm_domtrans_script(salt_t)
